<!--
templateType: global_partial
label: Header
-->
<div class="outer-header">
  <div class="main-header">
    <div class="container">
      <header class="inner-header">
        <div class="logo-section">
          <a href="#mob-menu" class="btn-menu" name="Menu Toggle">
            <div>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <div id="hs_cos_wrapper_header_logo" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
            <span id="hs_cos_wrapper_header_logo_hs_logo_widget" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo">
              <a href="https://www.keithhayhomes.co.nz/" id="hs-link-header_logo_hs_logo_widget" style="border-width:0px;border:0px;">
                <img src="//23869763.fs1.hubspotusercontent-na1.net/hubfs/23869763/raw_assets/public/KeithHayHomes_July2024/images/keith_hay_homes.svg" class="hs-image-widget " height="650" style="height: auto;width:250px;border-width:0px;border:0px;" width="250" alt="Keith Hay Homes" title="Keith Hay Homes">
              </a>
            </span>
          </div>
          <div class="phone">
            <div id="hs_cos_wrapper_contact_section" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
              <span id="hs_cos_wrapper_contact_section_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                <a href="tel:0800534844">
                  <span>0800</span> KEITH HAY </a>
                <br>
                <small>534 844</small>
              </span>
            </div>
          </div>
          <div class="mobile">
            <div id="hs_cos_wrapper_cell_phone" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
              <span id="hs_cos_wrapper_cell_phone_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                <a href="tel:0800534844">
                  <img src="//23869763.fs1.hubspotusercontent-na1.net/hubfs/23869763/raw_assets/public/KeithHayHomes_July2024/images/phone-gr.svg" alt="Phone">
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="hidden-xs hidden-sm">
          <div class="find_branch">
            <div id="hs_cos_wrapper_find_a_branch1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
              <a class="hs-button " href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" id="hs-button_find_a_branch1" rel=""> Find a Branch </a>
            </div>
          </div>
          <div class="contact">
            <div id="hs_cos_wrapper_contact" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-cta" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
              <span id="hs_cos_wrapper_contact_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_cta" style="" data-hs-cos-general-type="widget" data-hs-cos-type="cta">
                <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-7b7c8c18-76fb-41db-a240-d99d4f330337">
                  <span class="hs-cta-node hs-cta-7b7c8c18-76fb-41db-a240-d99d4f330337" id="hs-cta-7b7c8c18-76fb-41db-a240-d99d4f330337" style="visibility: visible;" data-hs-drop="true">
                    <a id="cta_button_23869763_d6ef0e86-7254-45ac-b8de-b3e67b3eb500" class="cta_button hs-button " href="https://cta-service-cms2.hubspot.com/ctas/v2/public/cs/c/?cta_guid=d6ef0e86-7254-45ac-b8de-b3e67b3eb500&amp;signature=AAH58kE5sPubCxk3jRQXfr-EhByPe1ai_g&amp;portal_id=23869763&amp;pageId=null&amp;placement_guid=7b7c8c18-76fb-41db-a240-d99d4f330337&amp;click=3e9e7d6d-a600-4bf6-8799-552000d77931&amp;redirect_url=APefjpG5cFUwNMZ7NBqNxb3Y-Jd_WOluoXqsyblCPMQknMfy-IUlMeCm7TO5Ws5LkGZbwwD22EX_BmHzPJLFHOnVLz5IoGjqN3tsRZWcC2CMM-2dM3fHNuYZYEAiRw8Oh_ZT7VzvAFfP&amp;hsutk=&amp;canon=http%3A%2F%2F23869763.hs-sites.com%2F404&amp;ts=1722624480381" style="" cta_dest_link="https://www.keithhayhomes.co.nz/contact-us/" title="Contact us">Contact us</a>
                  </span>
                  <script charset="utf-8" src="/hs/cta/cta/current.js"></script>
                  <script type="text/javascript">
                    hbspt.cta._relativeUrls = true;
                    hbspt.cta.load(23869763, '7b7c8c18-76fb-41db-a240-d99d4f330337', {
                      "useNewLoader": "true",
                      "region": "na1"
                    });
                  </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>

  </div>
  <div class="mobile-menu-wrp">
    <div class="mobile-menu">
      <div class="mm-navbar_sticky">
        <a class="mm-navbar__title">
          <span>Menu</span>
        </a>
      </div>
      <div class="mobile-nav">
        <div id="hs_cos_wrapper_mobile_menu" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
          <span id="hs_cos_wrapper_mobile_menu_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
            <div id="hs_menu_wrapper_mobile_menu_" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="174351847220" aria-label="Navigation Menu">
              <ul role="menu">
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/" role="menuitem">Home</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="https://www.keithhayhomes.co.nz/our-plans/" aria-haspopup="true" aria-expanded="false" role="menuitem">Our plans</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/first-choice/" role="menuitem">First Choice Range</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/classic/" role="menuitem">Classic Collection</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/coastal/" role="menuitem">Coastal</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/designer-range/" role="menuitem">Designer Range</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/urban-residential-range/" role="menuitem">Urban Residential Range</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/rural/" role="menuitem">Rural</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/search/" role="menuitem">Search</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/enquire-now/" role="menuitem">Enquire Now</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/pre-built-houses/" role="menuitem">Pre-built Houses</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/house-and-land-packages/" role="menuitem">House &amp; land packages</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/our-building-process/" role="menuitem">Developments</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/our-building-process/" role="menuitem">Find a branch</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/our-plans/our-building-process/" role="menuitem">Find a house</a>
                    </li>
                  </ul>
                </li>
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="https://www.keithhayhomes.co.nz/pre-built/" aria-haspopup="true" aria-expanded="false" role="menuitem">Pre-built</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/pre-built/pre-built-houses/" role="menuitem">Pre-built Houses</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/pre-built/pre-built-classrooms/" role="menuitem">Pre-built Classrooms</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a branch</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/pre-built/pre-built-classrooms/" role="menuitem">Find a house</a>
                    </li>
                  </ul>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/house-and-land-packages/" role="menuitem">House &amp; Land</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/developments/" role="menuitem">Developments</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="https://www.keithhayhomes.co.nz/commercial-educational/" aria-haspopup="true" aria-expanded="false" role="menuitem">Commercial &amp; Educational</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/commercial-educational/classrooms/" role="menuitem">Classrooms</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/commercial-educational/early-childhood/" role="menuitem">Early Childhood</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/commercial-educational/customised-classrooms/" role="menuitem">Customised Classrooms</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/commercial-educational/commercial-range/" role="menuitem">Commercial Range</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/commercial-educational/enquire-now/" role="menuitem">Enquire Now</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a branch</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/housing/" role="menuitem">Find a house</a>
                    </li>
                  </ul>
                </li>
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="https://www.keithhayhomes.co.nz/about-us/" aria-haspopup="true" aria-expanded="false" role="menuitem">About</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/why-choose-keith-hay-homes/" role="menuitem">Why Choose Keith Hay Homes?</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/innovation/" role="menuitem">Innovation &amp; Leadership</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/our-history/" role="menuitem">Our History</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/keith-hay-homes-in-the-community/" role="menuitem">Keith Hay Homes in the Community</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/meet-the-team/" role="menuitem">Our Team</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/news-articles/" role="menuitem">News &amp; Articles</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/testimonials/" role="menuitem">Testimonials</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/celebrating-85-years/" role="menuitem">Celebrating 85 Years</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/keith-hay-stories/" role="menuitem">Keith Hay Stories</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/transportable-homes-can-be-financed/" role="menuitem">Transportable homes can be financed</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/developing-your-property/" role="menuitem">Developing your property</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/about-us/our-building-process/" role="menuitem">Our Building Process</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a Branch</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/housing/" role="menuitem">Find a house</a>
                    </li>
                  </ul>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a Branch &amp; Show Home</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/our-guarantee/" role="menuitem">Our Guarantee</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/warranty-claims/" role="menuitem">Warranty claims</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none">
                  <a href="https://www.keithhayhomes.co.nz/contact-us/" aria-haspopup="true" aria-expanded="false" role="menuitem">Contact Us</a>
                  <ul role="menu" class="hs-menu-children-wrapper">
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/contact-us/branches/" role="menuitem">Branches</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/contact-us/show-homes/" role="menuitem">Show Homes</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a branch</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2" role="none">
                      <a href="https://www.keithhayhomes.co.nz/housing/" role="menuitem">Find a house</a>
                    </li>
                  </ul>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/branches-and-showhomes/" role="menuitem">Find a branch</a>
                </li>
                <li class="hs-menu-item hs-menu-depth-1" role="none">
                  <a href="https://www.keithhayhomes.co.nz/housing/" role="menuitem">Find a house</a>
                </li>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% module 'menu' label='Menu' id='39996309' path='@hubspot/menu' %}