<div class='footer-logo'>
  {% for item in module.images %}
  <div class='footer-logo-repeat'>
    {% set href = item.link_field.url.href %}
    {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a href="{{ href }}"
       {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
       {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
       >
      <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">

    </a>
  </div>
  {% endfor %}  
</div>


